<script>
    $("#btn").click(function(){
        console.log("button clicked");
        let name = $("#nameid").val();
        let email = $("#emailid").val();
        let batch = $("#batchid").val();
        let dept = $("#deptid").val();
        let csr =$("input[name=crsfmiddlewaretoken]").val()
        if(name == ""){
            console.log("Please Enter your name");
        }
        else if(email == ""){
            console.log("Please Enter your email");
        }
        else if(batch == ""){
            console.log("Please Enter your batch");
        }
        else if(dept == ""){
            console.log("Please Enter your department");
        }
        else{
            my_data = {name:name, email:email, batch:batch, dept:dept, crsfmiddlewaretoken:csr};
            $.ajax({
                url: "{% url 'save' %}",
                method: "POST", 
                data: my_data,
                success:function(data){
                    if(data.status =="Save"){
                        s = data.s_data;
                        output = "";
                        console.log("Submitted successfully");
                        for (i = 0; i < s.length; i++){
                            output += "<tr><td>" + s[i].id + "</td><td>" + s[i].name +
                                    "</td><td>" + s[i].email + "</td><td>" + s[i].batch + "</td><td>" + s[i].dept
                                    + "</td><td> <input type='button' class='btn btn-danger btn-sm btn-del' value='Delete' data-id=" 
                                    + s[i].id + "/>" 
                        }
                        $('#tbody').html(output);
                        $("form")[0].reset();
                    }
                    else if(data.status == 0){
                        console.log("Submission failed");
                    }
                },                
            });
        }
    });

    $('#tbody').on("click",".btn-del",function(){
        let id = $(this).attr('data-id');
        let csr =$("input[name=crsfmiddlewaretoken]").val()
        my_data = {id:id, crsfmiddlewaretoken:csr};
        my_this = this
        $.ajax({
            url: "{% url 'delete' %}",
            method: "POST", 
            data: my_data,
            success:function(data){
                if(data.status == 1){
                    console.log("Data Deleted Successfully");
                    $(my_this).closest("tr").fadeOut();
                }
                else if(data.status == 0){
                    console.log("Unable to delete the data");
                }
            }
        });
    });

</script>